<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.9.0/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<div id="page" class="page">
		<div id="left_sidebar" class="left sidebar main"></div>
		<div id="container_main" class="container_main main">
			<div id="bar" class="full_width block bar">
					<div class="button_panel vert_center_box">
						<button id="start" class="button button_start button_control">
							<div id="triangle" class="arrow-right center"></div>
						</button>
						<button id="stop" class="button button_stop button_control">
							<div id="square" class="square center"></div>
						</button>
					</div>
			</div>
	<!--
			<div id="left" class="half left">
				<div class="center_box">
					<div>
						<textarea type="text" class="conf_input" id="conf"></textarea>
					</div>
					<div id="layer_addition_panel" style="visibility: hidden">
						<div id="layer_panel"></div>
						<div id="add_layer_button"><button class="bottom">+</button></div>
					</div>
				</div>
			</div>

			<div id="right" class="half left center_box">
				<div class="center_box">
					<div class="linechart"></div>
				</div>
			</div>
	-->
		</div>
		<div id="right_sidebar" class="right sidebar main"></div>
	</div>

    <script>
        // 图表的宽度和高度
        const width = 650;
        const height = 400;
        const range = 120;

        // 预留给轴线的距离
        const padding = {
            top: 50,
            right: 50,
            bottom: 50,
            left: 50
        };

        let data = [];
        let xs = d3.range(data.length);
        let dataset = d3.range(data.length).map(function(d) {
            return [d, data[d]];
        });

        let xScale = d3.scaleLinear()
            .domain([0, range-1])
            .range([0, width - padding.left - padding.right]);

        let yScale = d3.scaleLinear()
            .domain([0, 1])
            .range([height - padding.top - padding.bottom, 0]);

        let svg = d3.select(".linechart")
            .append('svg')
            .attr('width', width + 'px')
            .attr('height', height + 'px');

        let xAxis = d3.axisBottom()
            .scale(xScale);

        let yAxis = d3.axisLeft()
            .scale(yScale);

        svg.append('g')
            .attr('class', 'axis')
            .attr('transform', 'translate(' + padding.left + ',' + (height - padding.bottom) + ')')
            .call(xAxis);

        svg.append('g')
            .attr('class', 'axis')
            .attr('transform', 'translate(' + padding.left + ',' + padding.top + ')')
            .call(yAxis);

        function appendData(value, chart) {
            if (data.length === range)
                data.shift();
            data.push(value);
            dataset = d3.range(data.length).map(function(d) {
                return [d, data[d]];
            });

            /*var min = d3.min(dataset, function(d) {
                return d[1];
            });
            var max = d3.max(dataset, function(d) {
                return d[1];
            });*/

            svg.selectAll("." + chart).remove();

            let linePath = d3.line()
                .x(function(d) {
                    return xScale(d[0]);
                })
                .y(function(d) {
                    return yScale(d[1]);
                })
                .curve(d3.curveCardinal);

            let areaPath = d3.area()
                .x(function(d) {
                    return xScale(d[0]);
                })
                .y0(height-padding.bottom-padding.top)
                .y1(function(d) {
                    return yScale(d[1]);
                })
                .curve(d3.curveCardinal);

            svg.append('g')
                .append('path')
                .attr('class', 'line ' + chart)
                .attr('transform', 'translate(' + padding.left + ',' + padding.top + ')')
                .attr('d', linePath(dataset))
                .attr('fill', 'none')
                .attr('stroke-width', 2)
                .attr('stroke', 'green');

            svg.append('g')
                .append('path')
                .attr('class', 'area ' + chart)
                .attr('transform', 'translate(' + padding.left + ',' + padding.top + ')')
                .attr('d', areaPath(dataset))
                .attr('fill', 'none')
                .attr('stroke-width', 2)
                .attr('stroke', 'green');

            /*svg.append('g')
                .selectAll('circle')
                .data(dataset)
                .enter()
                .append('circle')
                .attr('r', 3)
                .attr('transform', function(d) {
                    return 'translate(' + (xScale(d[0]) + padding.left) + ',' + (yScale(d[1]) + padding.top) + ')'
                })
                .attr('class', 'dot ' + chart)*/
        }
            /*appendData(0.454, "chart1");
            appendData(0.567, "chart1");
            appendData(0.876, "chart1");
            appendData(0.342, "chart1");
            appendData(0.865, "chart1");
            appendData(0.235, "chart1");
            appendData(0.543, "chart1");*/
    </script>
    <script>
        //Push-up
        /*var source = new EventSource("{{ url_for('sse.stream') }}");
        source.addEventListener('greeting', function(event) {
            JSON.parse(event.data, function(k, v) {
                if (k === 'message')
                    JSON.parse(v, function(k, v) {
                        //if (k)
                            //document.getElementById("TestDIV").innerHTML += "<br>k: " + k + " v: " + v;
                        if (k === "acc")
                            appendData(v, 'chart1');
                        return 0;
                    });
                return 0;
            });
        }, false);
        source.addEventListener('error', function(event) {
            alert("Failed to communicate with the server");
        }, false);*/
    </script>
    <script>
        $(function() {
            $("#start").bind('click', function() {
                $.getJSON('/start', function() {

                });
                return false;
            });
        });

        const conf = {
            "layer1": {"layer_type": "Conv2D", "args": {"filters": 32, "kernel_size": [3, 3], "activation": "relu", "input_shape": [28, 28, 1]}},
            "layer2": {"layer_type": "Conv2D", "args": {"filters": 64, "kernel_size": [3, 3], "activation": "relu"}},
            "layer3": {"layer_type": "MaxPooling2D", "args": {"pool_size": [2, 2]}},
            "layer4": {"layer_type": "Dropout", "args": {"rate": 0.25}},
            "layer5": {"layer_type": "Flatten", "args": {}},
            "layer6": {"layer_type": "Dense", "args": {"units": 128, "activation": "relu"}},
            "layer7": {"layer_type": "Dropout", "args": {"rate": 0.25}},
            "layer8": {"layer_type": "Dense", "args": {"units": 10, "activation": "softmax"}}
        };

        document.getElementById("conf").value = JSON.stringify(conf);

        $(function() {
            $("#start").click(function(){

                console.log(document.getElementById("conf").innerText);

                $.post({url: "/start", data: document.getElementById("conf").value, success: function() {

                }});
                return false;
            });
        });

        $(function() {
            $("#stop").bind('click', function() {
                $.getJSON('/stop', function() {

                });
                return false;
            });
        });
    </script>
    <script src="../static/layers.js"></script>
</body>
</html>