<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="../static/styles/style.css" rel="stylesheet" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.9.0/d3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="../static/scripts/plotly-latest.min.js"></script>
	<!--    <script src="../static/sentence.js"></script>-->
</head>
<body class="unscrollable">
<div class="training_page_baseline flex_column">
	<div class="title_bar">
		<div class="title_logo">Visual Fasttext</div>
		<div class="title_id" id="id">ID: </div>
		<div class="title_ready_btn" id="evaluate">Evaluate</div>
		<div class="title_ready_btn invisible" id="ready" onclick="rating()">Ready</div>
	</div>
	<div class="training_row_alone flex_row">
		<div id="left_sidebar" class="sidebar_training">
			<div class="tuning">
				<!--lr-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Learning Rate:</div>
						<div id="lr_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="0.001" max="0.15" value="0.1" class="slider" step="0.001" id="lr_range">
					</div>
				</div>
				<!--lrUpdateRate-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Learning Rate Update Rate:</div>
						<div id="lrUpdateRate_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="50" max="200" value="100" class="slider" step="10" id="lrUpdateRate_range">
					</div>
				</div>
				<!--dim-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Dimension of the Word Vector:</div>
						<div id="dim_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="1" max="200" value="100" class="slider" step="1" id="dim_range">
					</div>
				</div>
				<!--ws-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Context Window:</div>
						<div id="ws_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="1" max="15" value="64" class="slider" step="1" id="ws_range">
					</div>
				</div>
				<!--epoch-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Epoches:</div>
						<div id="epoch_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="1" max="40" value="5" class="slider" step="1" id="epoch_range">
					</div>
				</div>
				<!--minCount-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Minimal Word Occurences:</div>
						<div id="minCount_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="1" max="5" value="1" class="slider" step="1" id="minCount_range">
					</div>
				</div>
				<!--neg-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Number of Negatives Sampled:</div>
						<div id="neg_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="1" max="10" value="5" class="slider" step="1" id="neg_range">
					</div>
				</div>
				<!--wordNgrams-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Word N-gram:</div>
<!--						<div id="wordNgrams_value" class="right main"></div>-->
					</div>
					<div>
						<ul class="radio_list">
							<li>
								<input type="radio" id="wordNgrams_1" name="wordNgrams_select" checked="checked"/>
								<label for="wordNgrams_1" name="wordNgrams_label">1</label>
							</li>
							<li>
								<input type="radio" id="wordNgrams_2" name="wordNgrams_select"/>
								<label for="wordNgrams_2" name="wordNgrams_label">2</label>
							</li>
						</ul>
						<div class="clearfloat"></div>
					</div>
				</div>
				<!--loss-->
<!--				<div class="hyperparameter">-->
<!--					<div class="slider_label">-->
<!--						<div class="left main">Loss Function:</div>-->
<!--&lt;!&ndash;						<div id="loss_value" class="right main"></div>&ndash;&gt;-->
<!--					</div>-->
<!--					<div>-->
<!--						<ul class="radio_list">-->
<!--							<li>-->
<!--								<input type="radio" id="loss_ns" name="loss_select"/>-->
<!--								<label for="loss_ns" name="loss_label">ns</label>-->
<!--							</li>-->
<!--							<li>-->
<!--								<input type="radio" id="loss_hs" name="loss_select"/>-->
<!--								<label for="loss_hs" name="loss_label">hs</label>-->
<!--							</li>-->
<!--							<li>-->
<!--								<input type="radio" id="loss_softmax" name="loss_select" checked="checked"/>-->
<!--								<label for="loss_softmax" name="loss_label">softmax</label>-->
<!--							</li>-->
<!--						</ul>-->
<!--						<div class="clearfloat"></div>-->
<!--					</div>-->
<!--				</div>-->
				<!--minn-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Minimal Character N-gram:</div>
						<div id="minn_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="0" max="3" value="0" class="slider" step="1" id="minn_range">
					</div>
				</div>
				<!--maxx-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Maximal Character N-gram:</div>
						<div id="maxn_value" class="right main"></div>
					</div>
					<div class="slidecontainer">
						<input type="range" min="0" max="3" value="0" class="slider" step="1" id="maxn_range">
					</div>
				</div>
				<!--t-->
				<div class="hyperparameter">
					<div class="slider_label">
						<div class="left main">Sampling Threshold:</div>
<!--						<div id="t_value" class="right main"></div>-->
					</div>
					<div>
						<ul class="radio_list">
							<li>
								<input type="radio" id="t_10e-6" name="t_select"/>
								<label for="t_10e-6" name="t_label">0.00001</label>
							</li>
							<li>
								<input type="radio" id="t_10e-5" name="t_select" checked="checked">
								<label for="t_10e-5" name="t_label">0.0001</label>
							</li>
							<li>
								<input type="radio" id="t_10e-4" name="t_select"/>
								<label for="t_10e-4" name="t_label">0.001</label>
							</li>
						</ul>
						<div class="clearfloat"></div>
					</div>
				</div>
			</div>
			<div class="button_panel">
				<button id="start" class="button button_start button_control">Start</button>
				<button id="stop" class="button button_stop button_control">Stop</button>
			</div>
		</div>
		<div id="container_main_training" class="container_main_training">
			<div id="info" class="training_row block terminal_small"></div>
			<div class="training_row2">
				<div class="left training_scatter_container main">
					<div id="scatter" class="scatter block"></div>
					<div id="scatter_loading" class="center">
						<div id="scatter_loader" class="invisible"></div>
					</div>
				</div>
				<div class="right cm_container main">
					<div id="cm" class="cm block"></div>
					<div id="cm_loading" class="center">
						<div id="cm_loader" class="invisible"></div>
					</div>
				</div>
			</div>
			<div id="hoverinfo" class="training_row2 block hoverinfo">
				<div id="comparison" class="comparison"></div>
				<div id="review_box" class="review_box"></div>
			</div>
		</div>
	</div>
	<div id="footer" class="footer invisible">
		<div id="footer_left" class="footer_left float_left"></div>
	</div>
</div>

<script>
		let cm = [];
		let conf = {};
		let scatter_data = [];
		let vocab = {};
		let cur_sent = [];

		let group_no = "{{group}}";
		let round = 0;
		let config = [];

		const footer_box = document.getElementById("footer");
		if (group_no === '3')
			footer_box.className = "footer";

		document.getElementById("id").innerHTML = "No. {{id}}";

	//Push-up
	var source = new EventSource("{{ url_for('sse.stream') }}");
	source.addEventListener('greeting', function(event) {
		JSON.parse(event.data, function(k, v) {
			if (k === 'message') {
				// document.getElementById("terminal_end").innerHTML += v;
				JSON.parse(v, function (k2, v2) {
					if (k2 === "cm") {
						// document.getElementById("TestDIV").innerHTML += "<br>k: " + k + " v: " + v;
						cm = JSON.parse(v2);
						// console.log(cm);
						plot_cm(cm);
						document.getElementById("cm_loader").className = "invisible";
					} else if (k2 === "loading_data") {
						document.getElementById("info").innerHTML = v2;
					} else if (k2 === "training_progress") {
						document.getElementById("info").innerHTML = v2;
					} else if (k2 === "evaluating") {
						document.getElementById("info").innerHTML += v2 + "<br />";
					} else if (k2 === "scatter") {
						plot_scatter();
						document.getElementById("scatter_loader").className = "invisible";
					}
					return 0;
				});
			}
			return 0;
		});
	}, false);

	source.addEventListener('error', function(event) {
		alert("Failed to communicate with the server");
	}, false);
</script>
<script>
	hyperparameters = ['lr', 'lrUpdateRate', 'dim', 'ws', 'epoch', 'minCount', 'neg', 'wordNgrams', 'loss', 'minn', 'maxn', 't'];
	for (let hp of hyperparameters) {
		let range = document.getElementById(hp + "_range");
		let value = document.getElementById(hp + "_value");
		if (range != null) {
			value.innerHTML = range.value;
			range.oninput = function() {
				value.innerHTML = this.value;
			}
		}
	}
</script>
<script>
	$(function() {
		$("#start").bind('click', function() {
			$.getJSON('/start', function() {

			});
			return false;
		});
	});

	$(function() {
		$("#start").click(function() {

			document.getElementById("cm_loader").className = "loader";
			document.getElementById("scatter_loader").className = "loader";
			document.getElementById('cm').innerHTML = "";
			document.getElementById('scatter').innerHTML = "";

			for (let hp of hyperparameters) {
				const target_slider = document.getElementById(hp + "_range");
				const target_radios = document.getElementsByName(hp + "_select");
				const target_labels = document.getElementsByName(hp + "_label");
				if (target_slider != null) {
					conf[hp] = parseFloat(target_slider.value);
				} else {
					// let radio_value = "";
					for (var i = 0, length = target_radios.length; i < length; i++) {
						if (target_radios[i].checked) {
							// radio_value = target_radios[i].value;
							conf[hp] = parseInt(target_labels[i].innerText);
							break;
						}
					}
				}
			}

			$.post({url: "/start", data: JSON.stringify({subj_id: "{{id}}", group: group_no, training_round: round, kwargs: conf}), success: function() {}});
			return false;
		});
	});

	$(function() {
		$("#evaluate").bind('click', function() {
			$.getJSON('/start', function() {

			});
			return false;
		});
	});

	$(function() {
		$("#evaluate").click(function() {

			document.getElementById("evaluate").className = "title_ready_btn invisible";
			document.getElementById("ready").className = "title_ready_btn";
			document.getElementById("left_sidebar").className = "sidebar_training invisible";
			document.getElementById("info").className = "training_row block terminal_small invisible";

			document.getElementById("cm_loader").className = "loader";
			document.getElementById("scatter_loader").className = "loader";
			document.getElementById('cm').innerHTML = "";
			document.getElementById('scatter').innerHTML = "";
			document.getElementById('comparison').innerHTML = "";
			document.getElementById('review_box').innerHTML = "";

			$.post({url: "/start", data: JSON.stringify({subj_id: "{{id}}", group: group_no, training_round: round, kwargs: {}}), success: function() {}});
			return false;
		});
	});

	$(function() {
		$("#stop").bind('click', function() {
			$.getJSON('/stop', function() {

			});
			return false;
		});
	});
</script>
<script>
	/*const zValues = [
			[66, 416, 309, 116, 34, 33, 15, 7, 4, 0],
			[21, 253, 378, 197, 74, 40, 22, 13, 2, 0],
			[12, 165, 349, 269, 92, 58, 35, 16, 3, 1],
			[0, 80, 289, 312, 142, 94, 52, 25, 6, 0],
			[1, 32, 171, 276, 193, 168, 99, 44, 16, 0],
			[0, 8, 93, 200, 194, 192, 189, 102, 20, 2],
			[0, 9, 40, 112, 130, 200, 266, 181, 57, 5],
			[0, 3, 25, 73, 81, 140, 247, 275, 144, 12],
			[0, 4, 23, 59, 56, 127, 182, 287, 242, 20],
			[1, 12, 19, 50, 58, 82, 159, 247, 311, 61]
		];*/

	function plot_cm(zMatrix) {
		const range = (start, end, length = end - start) => Array.from({ length }, (_, i) => start + i);

		const xValues = ['1 star', '2 stars', '3 stars', '4 stars', '5 stars', '6 stars', '7 stars', '8 stars', '9 stars', '10 stars'];
		const yValues = ['1 star', '2 stars', '3 stars', '4 stars', '5 stars', '6 stars', '7 stars', '8 stars', '9 stars', '10 stars'];
		const zValues = zMatrix;
		const maxRow = zValues.map(function(row){ return Math.max.apply(Math, row); });
		const max_zValue = Math.max.apply(null, maxRow);

		let data_cm = [
			{
				x: xValues,
				y: yValues,
				z: zValues,
				colorscale: [['0.0', '#FBF8F5'],['0.1', '#F9F1EC'],['0.2', '#EED4CD'],['0.3', '#E4B8B8'],['0.4', '#D69CA8'],['0.5', '#C5849D'],['0.6', '#A7658E'],['0.7', '#8C5181'],['0.8', '#6C3F70'],['0.9', '#4C2E5A'], ['1.0', '#2D1E3E']],
				reversescale: false,
				type: 'heatmap',
				showscale: false
			}
		];

		let layout_cm = {
			paper_bgcolor: 'transparent',
			plot_bgcolor: 'transparent',
			title: '',
			annotations: [],
			xaxis: {
				title: "Prediction",
				ticks: '',
				// ticksuffix: ' ',
				side: 'top',
				fixedrange: true
			},
			yaxis: {
				title: "Truth",
				ticks: '',
				ticksuffix: ' ',
				autosize: false,
				autorange: 'reversed',
				fixedrange: true
			},
			hovermode: false,
			autosize: true,
			margin: {
				l: 70,
				r: 25,
				b: 25,
				t: 80,
				// pad: 50
			}
		};

		for ( let i = 0; i < yValues.length; i++ ) {
			for ( let j = 0; j < xValues.length; j++ ) {
				const currentValue = zValues[i][j];
				const percentile = currentValue / max_zValue;
				let textColor = '';
				if (percentile > 0.35) {
					textColor = 'white';
				} else {
					textColor = 'black';
				}
				var result = {
					xref: 'x1',
					yref: 'y1',
					x: xValues[j],
					y: yValues[i],
					text: zValues[i][j],
					font: {
						// family: 'Arial',
						size: 12,
						color: textColor
					},
					showarrow: false,
				};
				layout_cm.annotations.push(result);
			}
		}

		Plotly.newPlot('cm', data_cm, layout_cm);

		let myCM = document.getElementById('cm');

		window.onresize = function() {
			Plotly.Plots.resize(myCM)
		};
	}
</script>
<!--<script type="text/javascript" src='{{ url_for("static", filename="scripts/scatter2.js")}}'></script>-->

<script>
	String.prototype.replaceAll = function(search, replacement) {
		let target = this;
		return target.split(search).join(replacement);
	};

	function addSentence(sen_list) {
		cur_sent = sen_list;

        let label_box = document.getElementById("comparison");
        label_box.innerHTML = "Predicted Rating: " + sen_list[0] + "<br />Actual Rating: " + sen_list[1];

		let sen = sen_list[2].replaceAll("&quot;", "\"");
		sen = sen.replaceAll("&amp;", "\&");

        let result = document.getElementById("review_box");
        while (result.lastChild) {
            result.removeChild(result.lastChild);
        }

        let sentence = document.createElement("div");
        sentence.setAttribute("class", "sentence full_width");
        result.appendChild(sentence);

        let words = document.createElement("div");
        words.setAttribute("class", "words main");
        sentence.appendChild(words);

        let word_panel = document.createElement("div");
        word_panel.setAttribute("class", "word_panel");
        words.appendChild(word_panel);

        // let wrap = false;
        // console.log(sen);
        let word_list = sen.split(/<BREAK>|\s/);
        for (let w of word_list) {
            if (w !== "") {
                let word = document.createElement("div");
                if (w === "<NEWLINE>") {
                    word.className = "newline_small";
                } else {
                    if (Object.keys(vocab).includes(w.toLowerCase())) {
						word.className = "word_small word_" + vocab[w.toLowerCase()];
					} else
						word.className = "word_small";
                    word.innerText = w;
                }
                word_panel.appendChild(word);
            }
        }
    }

	/*let sen = "The story of the Zodiac could have been interesting but this movie proved to be a two hour and forty " +
			"minute bore-fest. Most of the movie is spent on the investigation as scene after scene piles on " +
			"pieces of evidence for the characters to ponder<BREAK>. The movie tries (<BREAK>and fails<BREAK>) to show " +
			"you how the investigation adversely affected the lives of a reporter (<BREAK>played by Robert Downey " +
			"Jr<BREAK>)<BREAK>, a homicide inspector (<BREAK>played by Mark Ruffalo<BREAK>)<BREAK>, and a cartoonist " +
			"(<BREAK>played by Jake Gyllenhaal<BREAK>) hence the poster's tag line \"There's more than one way to lose " +
			"your life to a killer<BREAK>.<BREAK>\" <NEWLINE> The strategy of the movie is this: To show how " +
			"frustrating and tiresome a murder investigation can be<BREAK>, the movie wants to put you through a " +
			"frustrating and tiresome experience<BREAK>. To make us feel the way the characters spent long wasted " +
			"hours sifting through the minutiae of the case in the vain effort to arrest a suspect<BREAK>, the movie " +
			"puts you through a long 160 minutes of minutiae for you to sift through<BREAK>. The movie worked on me as " +
			"intended I was maddeningly frustrated and extremely tired<BREAK>. This is great story-telling<BREAK>? " +
			"Nope<BREAK>, I'm not buying that pretentious load of baggage<BREAK>. <NEWLINE> How did the Zodiac affect " +
			"the main characters<BREAK>? I wouldn't know<BREAK>. The movie never tries to understand them emotionally " +
			"or psychologically<BREAK>. The script doesn't give them much to do except sift minutiae and the acting " +
			"can't seem to rise above the ponderous bleakness stretched across the whole production<BREAK>. <NEWLINE> " +
			"Zodiac is a waste of your time<BREAK>. Wait and see it on late night cable when you need to catch up on " +
			"some sleep<BREAK>.";*/

	// addSentence(sen);
</script>
<script>
	const ACC = 700;
	const split = 700;
	const hoverInfo = document.getElementById('hoverinfo');
	const colorList = ['#A50026', '#DC3A2B', '#F67E4B', '#FDC272', '#FEEFA5', '#E3F399', '#B1DD71', '#6DC063', '#219B51', '#006837'];

	function linspace(start, stop, step) {
		let ret = [];
		let i = start;
		while (Math.round(i * ACC) <= Math.round(stop * ACC)) {
			ret.push(i);
			i += step;
		}
		// console.log(Math.round(i * ACC), Math.round(stop * ACC));
		return ret;
	}

	function contour_trace(x, y, z, axis) {
		return {
			x: x,
			y: y,
			z: z,
			connectgaps: true,
			opacity: 0.7,
			type: 'contour',
			line:{
				smoothing: 0.7
			},
			// zsmooth: 'fast',
			xaxis: 'x' + axis,
			yaxis: 'y' + axis,
			colorscale: [
				['0.0', '#8A0002'], ['0.05', '#A50026'], ['0.15', '#DC3A2B'], ['0.25', '#F67E4B'],
				['0.35', '#FDC272'], ['0.45', '#FEEFA5'], ['0.55', '#E3F399'], ['0.65', '#B1DD71'],
				['0.75', '#6DC063'], ['0.85', '#219B51'], ['0.95', '#006837'], ['1.0', '#085a2e']
			],
			contours: {
				// coloring: 'heatmap',
			},
			hoverinfo: 'skip'
		};
	}

	function point_trace(x, y, text, axis, label, name) {
		return {
			x: x,
			y: y,
			text: text,
			mode: 'markers',
			// hoverinfo: 'x',
			hovertemplate: '%{marker.color}',
			type: 'scattergl',
			name: name,
			opacity: 0.9,
			xaxis: 'x' + axis,
			yaxis: 'y' + axis,
			marker: {
				size: 5,
				line: {
					width: 0.4,
					color: '#777777'
				},
				color: label
			},
			showlegend: false
		};
	}

	function plot_scatter() {
		let point_xValues = [];
		let point_yValues = [];
		let point_labels = [];
		let point_preds = [];
		let point_sentence = [];
		let contour_xValues = [];
		let contour_yValues = [];
		let contour_labels = [];
		let contour_preds = [];
		let z_n_labels = [];
		let z_n_preds = [];

		let x_max = Number.MIN_VALUE;
		let x_min = Number.MAX_VALUE;
		let y_max = Number.MIN_VALUE;
		let y_min = Number.MAX_VALUE;

		let x_start = 0;
		let x_end = 0;
		let y_start = 0;
		let y_end = 0;

		let directory = "static/out/{{id}}/" + round.toString();

		d3.csv(directory + '/scatter.csv').then(function (data) {

			data.forEach(function (d) {
				point_xValues.push(parseFloat(d.x));
				point_yValues.push(parseFloat(d.y));
				point_sentence.push(d.pred + "&&" + d.label + "&&" + d.sentence);
				point_labels.push(d.label + "-Star");
				point_preds.push(d.pred + "-Star");
				x_max = Math.max(x_max, d.x);
				x_min = Math.min(x_min, d.x);
				y_max = Math.max(y_max, d.y);
				y_min = Math.min(y_min, d.y);
			});
			x_start = Math.round(x_min * ACC) / ACC;
			x_end = Math.round(x_max * ACC) / ACC;
			contour_xValues = linspace(x_start, x_end, 1 / split);

			y_start = Math.round(y_min * ACC) / ACC;
			y_end = Math.round(y_max * ACC) / ACC;
			contour_yValues = linspace(y_start, y_end, 1 / split);

			let x_length = contour_xValues.length;
			let y_length = contour_yValues.length;

			contour_labels = new Array(y_length);
			z_n_labels = new Array(y_length);
			contour_preds = new Array(y_length);
			z_n_preds = new Array(y_length);
			for (let i = 0; i < y_length; i++) {
				contour_labels[i] = new Array(x_length);
				z_n_labels[i] = new Array(x_length);
				contour_preds[i] = new Array(x_length);
				z_n_preds[i] = new Array(x_length);
				for (let j = 0; j < x_length; j++) {
					contour_labels[i][j] = null;
					z_n_labels[i][j] = 0;
					contour_preds[i][j] = null;
					z_n_preds[i][j] = 0;
				}
			}
			data.forEach(function (d) {
				x_coor = Math.round((parseFloat(d.x) - x_start) * split);
				y_coor = Math.round((parseFloat(d.y) - y_start) * split);
				if (contour_labels[y_coor][x_coor] != null) {
					contour_labels[y_coor][x_coor] = parseInt(d.label);
					z_n_labels[y_coor][x_coor]++;
				} else {
					contour_labels[y_coor][x_coor] = (contour_labels[y_coor][x_coor] * z_n_labels[y_coor][x_coor] + parseInt(d.label)) / (z_n_labels[y_coor][x_coor] + 1);
					z_n_labels[y_coor][x_coor]++;
				}
				if (contour_preds[y_coor][x_coor] != null) {
					contour_preds[y_coor][x_coor] = parseInt(d.pred);
					z_n_preds[y_coor][x_coor]++;
				} else {
					contour_preds[y_coor][x_coor] = (contour_preds[y_coor][x_coor] * z_n_preds[y_coor][x_coor] + parseInt(d.pred)) / (z_n_preds[y_coor][x_coor] + 1);
					z_n_preds[y_coor][x_coor]++;
				}
			});
		}).then(function () {
			return d3.csv(directory + '/dict.csv');
		}).then(function (data2) {
			vocab = {};
			data2.forEach(function (d) {
				vocab[d.word] = d.rating;
			});
		}).then(function () {
			if (cur_sent.length !== 0)
				addSentence(cur_sent);
		}).then(function () {
			scatter_data = [];
			// scatter_data.push(contour_trace(contour_xValues, contour_yValues, contour_preds, ''));
			scatter_data.push(point_trace(point_xValues, point_yValues, point_sentence, '', point_preds, "Prediction"));
			// scatter_data.push(contour_trace(contour_xValues, contour_yValues, contour_labels, '2'));
			scatter_data.push(point_trace(point_xValues, point_yValues, point_sentence, '2', point_labels, "Truth"));

			scatter(scatter_data);

		}).then(function () {
			round_complete(round);
		});
	}

	const config_scatter = {
		scrollZoom: true
	};

	const layout_scatter = {
		title: '',
		dragmode: "pan",
		hovermode: "closest",
		xaxis: {
			domain: [0, 0.49],
			// anchor: 'y1',
			ticks: '',
			showticklabels: false,
			autorange: true
		},
		yaxis: {
			domain: [0, 1],
			// anchor: 'x1'
			ticks: '',
			showticklabels: false,
			autorange: true
		},
		xaxis2: {
			domain: [0.51, 1],
			matches: 'x',
			// anchor: 'y2',
			ticks: '',
			showticklabels: false,
			autorange: true
		},
		yaxis2: {
			domain: [0, 1],
			matches: 'y',
			// anchor: 'x1',
			ticks: '',
			showticklabels: false,
			autorange: true
		},
		paper_bgcolor: 'transparent',
		plot_bgcolor: 'transparent',
		margin: {
			l: 20,
			r: 20,
			b: 20,
			t: 20
		}
	};

	function scatter(data) {
		Plotly.newPlot('scatter', data, layout_scatter, config_scatter);

		let myPlot = document.getElementById('scatter');

		myPlot.on('plotly_hover', function (eventdata) {

			let hover_x = eventdata.xvals[0], hover_y = eventdata.yvals[0];
			Plotly.Fx.hover('scatter',
					[
						{curveNumber: 0, xval: hover_x, yval: hover_y},
						{curveNumber: 1, xval: hover_x, yval: hover_y}
					],
					['xy', 'x2y2']
			);
		});
		myPlot.on('plotly_click', function(eventdata){

			// console.log(eventdata);
			let infotext = eventdata.points.map(function(d){
				return (d.text);
			});
			let info = infotext[0].split('&&');
			addSentence(info);
		});

		window.onresize = function() {
			Plotly.Plots.resize(myPlot)
		};
	}

	function round_complete(cur_rount) {
		// console.log(group_no);
		if (group_no === '3') {
			let save = {};
			save['hyper'] = conf;
			save['cm'] = cm;
			save['scatter'] = scatter_data;
			save['vocab'] = vocab;
			// console.log("save vocab...");
			// console.log(vocab);
			config[round] = save;

			// let footer_box = document.getElementById("footer");

			let rec_point = document.createElement("div");
			rec_point.className = "float_left footer_block";
			rec_point.innerHTML = round;
			rec_point.onclick = function () {
				recover(cur_rount);
			};
			footer_box.appendChild(rec_point);
		}
		// console.log(round);
		round ++;
	}
	// plot_scatter();

</script>
<script>
	function recover(rec_id) {
		// console.log("recover");
		// console.log(rec_id);
		for (let hp of hyperparameters) {
			const target_slider = document.getElementById(hp + "_range");
			const target_value = document.getElementById(hp + "_value");
			if (target_slider != null) {
				// console.log(rec_id);
				target_slider.value = parseFloat(config[rec_id]['hyper'][hp]);
				target_value.innerHTML = target_slider.value;
			} else {
				const target_radios = document.getElementsByName(hp + "_select");
				const target_labels = document.getElementsByName(hp + "_label");
				for (let i = 0, length = target_radios.length; i < length; i++) {
					if (target_labels[i] === config[rec_id]['hyper'][hp]) {
						// conf[hp] = parseInt(target_labels[i].innerText);
						target_radios[i].checked = true;
						break;
					}
				}
			}
		}
		let myCM = document.getElementById('cm');
		myCM.innerHTML = "";
		plot_cm(config[rec_id]['cm']);
		let myScatter = document.getElementById('scatter');
		myScatter.innerHTML = "";
		scatter(config[rec_id]['scatter']);

		start().then(data => {
			vocab = config[rec_id]['vocab'];
			return Promise.resolve(1); // p1
		}).then(data => {
    		console.log(vocab);
			if (cur_sent.length !== 0)
				addSentence(cur_sent);
  		});

		function start() {
		  return new Promise((resolve, reject) => {
			resolve('start');
		  });
		}
	}

	function rating() {
		window.open("/rating?id={{ id }}");
		return false;
	}
</script>
</body>
</html>