@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css');

html, body {
	height: 100%;
	background: #EEE;
}

body {
	font: 14px/1 'Open Sans', sans-serif;
	text-align: center;
}

div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.unscrollable {
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.invisible {
	display: none;
}

.title_bar {
	height: 60px;
	vertical-align: center;
	background-color: #333;
  	position: relative;
	z-index: 200;
}

.title_ready_btn {
	background-color: #2ecc71;
	border-radius: 5px;
	padding: 10px;
	width: auto;
	height: auto;
	/*float: right;*/
	right: 30px;
	vertical-align: center;
	/*margin: 0 20px 0 0;*/
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

.result {
	height: 50%;
	width: 50%;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.scatter_training {
	width: 50%;
	height: 100%;
}

.scatter {
	height: 100%;
}

.cm {
	/*float: right;*/
	/*background-color: #68c8cc;*/
	height: 100%;
}

.cover_content {
	width: 100%;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	/*	background: #986567;*/
}

.start_button_container {
	margin: 30px 0 0 0;
	height: 50px;
}

.start_text {
	color: #669CE1;
	font-size: 72px;
	width: 100%;
	font-weight: 300;
}

.start_input {
	color: #669CE1;
	font-size: 72px;
	width: 3em;
	font-weight: 300;
	background-color: transparent;
	border: solid #669CE1;
	border-width: 0 0 2px 0;
}

.start_button {
	display:inline-block;
	background-color: #2ecc71;
	border-bottom: 5px solid #27ae60;
	text-shadow: 0px -2px #27ae60;
	position: relative;
	padding: 10px 35px;
	text-align: center;
	/*	width: auto;*/
	border-radius: 4px;
	/*	font-family: 'Lato', sans-serif;*/
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	/*	margin: 0 auto;*/
	cursor: pointer;
	/*	bottom: 0;*/
	margin: 0 10px 0 10px;
}

.start_button:active {
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.page {
	position: relative;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	/*	background: #252530;*/
}

.training_page {
	position: relative;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	/*	background: #252530;*/
	padding: 30px;
}

.training_page_baseline {
	position: relative;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	/*	background: #252530;*/
}

.flex_column {
	display: flex;
	flex-flow: column;
}

.footer {
	height: 120px;
	background: #333333;
	/*position: relative;*/
}

.footer_left {
	background: #DDDDDD;
	height: 100%;
	width: 400px;
}

.footer_block {
	background: #bbbbbb;
	height: 100%;
	width: 120px;
}

.training_row_alone {
  	flex: 2;
	position: relative;
	overflow: auto;
	/*padding: 30px 30px 30px 30px;*/
	width: 100%;
	/*padding: 30px;*/
	/*height: calc(100% - 70px);*/
	/*margin: 30px 0 0 0;*/
	/*	background: #252530;*/
}

.flex_row {
	display: flex;
	flex-flow: row;
}

.training_row {
	position: relative;
	overflow: scroll;
	width: 100%;
	height: 60px;
	/*margin: 30px 0 0 0;*/
	/*	background: #252530;*/
}

.training_row2 {
	position: relative;
	/*overflow: hidden;*/
	width: 100%;
	height: 400px;
	margin: 20px 0 0 0;
	/*	background: #252530;*/
}

.half {
	width: 50%;
	height: 100%;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.main {
	position: absolute;
	text-align: center;
}

.block {
	/*border: 1px solid #777777;*/
	border-radius: 3px;
	background-color: #F5F5F5;
	/*box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);*/
}

.terminal {
	background-color: #222;
	padding: 35px;
	font-size: 16px;
	color: #DDD;
	text-align: left;
	line-height: 26px;
	overflow: scroll;
}

.terminal_small {
	background-color: #F5F5F5;
	padding: 20px;
	font-size: 12px;
	color: #333;
	text-align: left;
	line-height: 20px;
	overflow: scroll;
}

.container_main {
	width: auto;
	margin: 0 0 0 600px;
	height: 100%;
	/*	background: #789678;*/
	position: relative;
}

.container_main_training {
  	flex: 2;
	/*width: auto;*/
	/*margin: 0 0 0 450px;*/
	padding: 20px;
	height: 100%;
	/*	background: #789678;*/
	position: relative;
	overflow: scroll; !important;
}

.container_main_training:after {
	content: "";
	display: block;
	height: 20px; !important;
	width: calc(100% - 60px);
}

.container_main_training_baseline {
	width: 500px;
	/*margin: 0 0 0 450px;*/
	height: 100%;
	/*	background: #789678;*/
	/*position: relative;*/
}

.container_main_left {
	width: auto;
	margin: 0 480px 0 0;
	height: 100%;
	/*	background: #789678;*/
	position: relative;
}

.container_main_left_baseline {
	flex: 2;
	/*width: auto;*/
	/*margin: 0 450px 0 0;*/
	height: 100%;
	/*	background: #789678;*/
	/*position: relative;*/
}

.logo {
	font-size: 30px;
	color: #333333;
	padding-top: 30px;
	padding-left: 30px;
	text-align: left;
	font-weight: bold;
}

.title_id {
	font-size: 24px;
	color: #FFF;
	vertical-align: center;
	height: 60px;
	line-height: 60px;
	padding-left: 30px;
	text-align: right;
	font-weight: 300;
	float: left;
	display: inline-block;
	margin-right: 80px;
}

.title_logo {
	font-size: 30px;
	color: #FFF;
	vertical-align: center;
	height: 60px;
	line-height: 60px;
	/*padding-top: 30px;*/
	padding-left: 30px;
	text-align: left;
	font-weight: 300;
	float: left;
	display: inline-block;
}

.left_title {
	font-size: 30px;
	color: #333333;
	padding-top: 40px;
	padding-left: 47px;
	text-align: left;
	font-weight: bold;
}

.tuning {
	margin: 30px 30px 40px 30px;
	position: relative;
	/*	overflow: hidden;*/
	/*	height: auto;*/
}

.review_box_adjust {
	margin: 20px 40px 40px 40px;
	position: relative;
	/*	overflow: hidden;*/
	/*	height: auto;*/
}

.hyperparameter {
	margin-bottom: 20px;
	/*overflow:auto;*/
}

.slider_label {
	color: #333333;
	height: 15px;
	font-size: 12px;
}

.slidecontainer {
	width: 100%;
	/*height: 14px;*/
	/*overflow: visible;*/
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	background: #333333;
	outline: none;
	opacity: 0.9;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	background: #333333;
	cursor: pointer;
	border-radius: 50%;
}

.slider::-moz-range-thumb {
	width: 14px;
	height: 14px;
	background: #333333;
	cursor: pointer;
	border-radius: 50%;
}

.bar_main {
	width: 100%;
	height: 100%;
	padding: 150px 200px 150px 200px;
}

.metrics {
	width: 100%;
	height: 100%;
	background-color: #567897;
	text-align: center;
}

.linechart_box {
	text-align: center;
	width: 100%;
	/*height: calc(width / 2);*/
	background-color: #456789;
	/*	margin: 30px;*/
}

.button_panel {
	/*	background: #678987;*/
	/*	right: 0px;*/
	margin-bottom: 30px;
}

.sidebar {
	width: 600px;
	height: 100%;
	background: #FBDF51;
	z-index: 2;
	overflow: scroll;
}

.cm_container {
	width: calc(38% - 10px);
	height: 100%;
	/*background: #FBDF51;*/
	/*z-index: 2;*/
	/*overflow: scroll;*/
}

.cm_container_baseline {
	width: 500px;
	height: 100%;
}

.sidebar_training {
	width: 400px;
	height: 100%;
	background: #FBDF51;
	z-index: 10;
	overflow: scroll;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

.bar {
	height: 120px;
	background: #353440;
	bottom: 0;
	position: absolute;
	border: 15px solid #252530;
	border-radius: 30px;
	opacity: 0.8;
	transition: 1s;
}

.bar_open {
	height: 100%;
	background: #353440;
	bottom: 0;
	position: absolute;
	border: 15px solid #252530;
	border-radius: 30px;
	opacity: 0.95;
	transition: 1s;
}

.bar_content {
	width: 100%;
	height: 100%;
	position:relative;
	overflow: hidden;
}

.switches {
	position: absolute;
	width: 100%;
	/*background: #898667;*/
	text-align: center;
}

.switch {
	background: #FF4496;
	width: 24px;
	height: 12px;
	border-radius: 0 0 12px 12px;
	margin: auto;
	padding: 1px;
	text-align: center;
	font-size: 13px;
	display: grid;
	cursor: pointer;
}

.switch:hover {
	background: #9a2859;
}

.switch_label {
	margin: auto;
}

.invisible {
	display:none;
}

.full_width {
	width: 100%;
}

.window {
	/*	margin: 0 0 120px 0;*/
	position: absolute;
	/*	overflow: scroll;*/
	/*	margin: 0;*/
	/*	left: -12px;*/
	/*	right: -12px;*/
	/*	top: -12px;*/
	/*	bottom: -18px;*/
	width: 100%;
	height: 100%;
}

/*.training_scatter_container {*/
/*	position: absolute;*/
/*	width: 100%;*/
/*	height: 100%;*/

/*}*/

.training_scatter_container {
	position: absolute;
	width: calc(62% - 10px);
	height: 100%;
}

.training_scatter_container_baseline {
	height: 100%;
}

.vert_center_box {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.button {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 0 20px 0 20px;
	position: relative;
}

.button_control {
	border-radius: 4px;
	width: 90px;
	height: 28px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	background: rgba(0,0,0,0.10);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.button_control:hover {
	background: rgba(0,0,0,0.20);
}

.button_start {
	background-color: #F2F2F2;
	/*border: 1px solid #51E2C2;*/
	/*color: #51E2C2;*/
}

.button_stop {
	background-color: #F2F2F2;
	/*border: 1px solid #FF4496;*/
	/*color: #FF4496;*/
}

.square {
	width: 10px;
	height: 10px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	/*	border: 1px solid #FF4496;*/
	background: #FF4496;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 8px solid #51E2C2;
}

.line {
	height: 16px;
	width: 2px;
	/*	border: 0.5px solid #51E2C2;*/
	background: #51E2C2;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ho_center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.layer {
	background: white;
	stroke: #777777;
	height: 40px;
	padding: 30px;
}

.layer_expand {
	background: white;
	stroke: #777777;
	min-height: 200px;
	padding: 30px;
}

#layer_panel {
	width: 480px;
	float: left;
}

#layer_addition_panel {
	width: 500px;
	text-align: center;
	margin: auto;
}

#add_layer_button {
	width: 20px;
	float: left;
}

.layer_content {
	width: 100%;
	height: 100%;
	background: #223344;
	text-align: left;
}

.bottom {
}

.conf_input {
	width: 500px;
	height: 200px;
	max-width: 80%;
}

/* Style the lines by removing the fill and applying a stroke */
.linechart_center {
	position: absolute;
	/*	top: 50%;*/
	left: 50%;
	transform: translateX(-50%);
}

.linechart {
	position: absolute;
	left: 50%;
	top: 150px;
	transform: translateX(-50%);
}

.line {
	stroke-width: 1;
	fill: none !important;
}

.area {
	stroke: none !important;
}

.chart1 {
	stroke: #ffab00;
	fill: rgba(255, 166, 0, 0.30);

}

.chart2 {
	stroke: #ff2d3c;
}

.overlay {
	fill: none;
	pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
	fill: #ffab00;
	stroke: #fff;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}

.axis {
	color: #DDD;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:before, :after {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
}

p {
	line-height: 1.8;
}

.game_container {
	/*	background-color: aqua;*/
	height: calc(100% - 70px);
	top: 70px;
	/*padding-top: 100px;*/
	overflow: scroll;
}

.review_box {
	position: relative;
	/*	padding: 20px;*/
	/*	padding: 100px 100px 100px 100px;*/
	width: 100%;
}

.comparison {
	line-height: 30px;
	font-size: 20px;
	text-align: left;
	margin-left: 8px;
	margin-bottom: 5px;
}

.sentence {
	position: relative;
	height: auto;
	display: block;
}

.words {
	width: auto;
	/*	border: 5px solid #252530;*/
	position: relative;
	/*	background: #353440;*/
	border-radius: 10px;
	top: 0;
	overflow: hidden;
}

.word {
	float: left;
	text-align: center;
	padding: 6px 3px 6px 3px;
	height: auto;
	margin: 3px 0 3px 0;
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

.word_small {
	float: left;
	text-align: center;
	padding: 3px 2px 3px 2px;
	height: auto;
	margin: 3px 0 3px 0;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.word_1 {
	/*background: #CC7D76;*/
	/*background: #d56464;*/
	background: #FBDF51;
}

.word_2 {
	/*background: #FF9D95;*/
	background: #FAEA98;
}

.word_3 {
	/*background: #FFE3E0;*/
	/*background: #FFDEDB;*/
	background: #FAEFBB;
}

.word_8 {
	/*background: #E3F399;*/
	/*background: #C7E8C3;*/
	background: #FAEFBB;
}

.word_9 {
	/*background: #81C779;*/
	background: #FAEA98;
}

.word_10 {
	/*background: #219B51;*/
	/*background: #4DA843;*/
	background: #FBDF51;
}

.newline {
	clear: both;
	float: none;
	width: 100%;
	padding: 6px 3px 6px 3px;
	height: auto;
	margin: 3px 0 3px 0;
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

.newline_small {
	clear: both;
	float: none;
	width: 100%;
	/*padding: 3px 2px 3px 2px;*/
	height: auto;
	margin: 10px 0 10px 0;
	/*font-size: 12px;*/
	/*font-weight: 300;*/
	color: #333;
}

.word:hover {
	background: #F7F7F7;
}

.word_small:hover {
	background: #333333;
	color: #EEEEEE;
	/*border-bottom: 2px solid #777777;*/
	/*padding-bottom: 0;*/
}

.word_panel {
	float: left;
	padding: 6px;
	top: 0;
	overflow: hidden;
}

.hoverinfo {
	padding: 20px;
	height: auto;
}

.question {
	/*	padding-top: 80px;*/
	font-size: 30px;
	font-weight: 600;
	/*	text-align: left;*/
}

.stars {
	padding: 30px 0 50px 0;
	position: relative;
	cursor: pointer;
}

.game_content {
	width: 100%;
	/*height: auto;*/
	/*	padding-top: 200px;*/
	padding: 0 100px 0 100px;
	max-width: 1200px;
	margin-top: 100px;
	margin-bottom: 80px;
	vertical-align: top;
}

.checked {
	color: orange;
}

.star {
	padding: 0 20px 0 20px;
}

.fa {
	/* 	display: inline-block;*/
	font-size: 22px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-star:before {
	content: "\f005";
}

.chart--container {
	height: 100%;
	width: 100%;
	min-height: 150px;
}

#myChart-license-text{
	display: none;
}

.plotAreaCanvas
, .canvasjs-chart-credit
, .canvasjs-chart-print-frame
, .canvasjs-chart-toolbar
{
	display: none;
}
/*, .canvasjs-chart-credit*/

.cover_license {
	position: absolute;
	height: 12px;
	width: 100%;
	background: #F5F5F5;
	bottom: 0;
	z-index: 100;
	margin: auto;
}

.gl-container div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line {
	color: #F2F2F2;
	font-size: 12px;
}

.info {
	height: 100px;
	/*background: #789435;*/
	margin-bottom: 30px;
}

.curve {
	height: 370px;
	/*background: #789435;*/
}

.loader {
	border: 8px solid #FBDF51;
	border-top: 8px solid #333;
	border-bottom: 8px solid #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.radio_list {
	list-style-type: none;
	margin: 0 0 0 0;
	/*padding: 0;*/
	height: auto;
}

.radio_list li {
	float: left;
	margin: 0 10px 0 0;
	width: 100px;
	height: 30px;
	/*line-height: 30px;*/
	position: relative;
	display:inline-block;
}

.radio_list label,
.radio_list input {
	display: block;
	position: absolute;
	height: 30px;
	line-height: 30px;
	/*top: 0;*/
	left: 0;
	right: 0;
	/*bottom: 0;*/
}

.radio_list input[type="radio"] {
	opacity: 0.01;
	z-index: 100;
}

.radio_list input[type="radio"]:checked+label,
.Checked+label {
	background: #333;
	color: #F5F5F5;
}

.radio_list label {
	/*padding: 10px;*/
	border: 1px solid #333;
	border-radius: 2px;
	cursor: pointer;
	z-index: 90;
}

.radio_list label:hover {
	background: #F5F5F5;
}

.clearfloat {
	clear: both;
}

#next {
	z-index: 400;
}

.terminal_header {
	color: #ff447e;
}