@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

html, body {
	height: 100%;
}

body {
    font: 14px/1 'Open Sans', sans-serif;
    text-align: center;
}

.page {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #252530;
}

.half {
    width: 50%;
    height: 100%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	background: #986567;
}

.main {
	position: absolute;
    text-align: center;
}

.container_main {
	width: auto;
	margin: 0 0 0 300px;
	height: 100%;
/*	background: #789678;*/
	position: relative;
}

.logo {
	font-size: 30px;
	color: #eae8ef;
	padding-top: 30px;
	padding-left: 30px;
	text-align: left;
	font-weight: bold;
}

.tuning {
	margin: 30px 30px 40px 30px;
	position: relative;
/*	overflow: hidden;*/
/*	height: auto;*/
}

.hyperparameter {
	margin-bottom: 20px;
}

.slider_label {
	color: #DDD;
	height: 15px;
	font-size: 12px;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: #DDD;
	cursor: pointer;
	border-radius: 50%;
}

.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: #DDD;
	cursor: pointer;
	border-radius: 50%;
}

.bar_main {
	width: 100%;
	height: 100%;
	padding: 150px 200px 150px 200px;
}

.metrics {
	width: 100%;
	height: 100%;
	background-color: #567897;
    text-align: center;
}

.linechart_box {
    text-align: center;
	width: 100%;
	/*height: calc(width / 2);*/
	background-color: #456789;
/*	margin: 30px;*/
}

.button_panel {
/*	background: #678987;*/
/*	right: 0px;*/
}

.sidebar {
	width: 300px;
	height: 100%;
/*	background: #2b2a36;*/
	background: #353440;
	z-index: 2;
}

.bar {
	height: 120px;
	background: #353440;
	bottom: 0;
	position: absolute;
	border: 15px solid #252530;
	border-radius: 30px;
	opacity: 0.8;
	transition: 1s;
}

.bar_open {
	height: 100%;
	background: #353440;
	bottom: 0;
	position: absolute;
	border: 15px solid #252530;
	border-radius: 30px;
	opacity: 0.95;
	transition: 1s;
}

.bar_content {
	width: 100%;
	height: 100%;
	position:relative;
	overflow: hidden;
}

.switches {
	position: absolute;
	width: 100%;
	/*background: #898667;*/
	text-align: center;
}

.switch {
	background: #FF4496;
	width: 24px;
	height: 12px;
	border-radius: 0 0 12px 12px;
	margin: auto;
	padding: 1px;
	text-align: center;
	font-size: 13px;
  	display: grid;
	cursor: pointer;
}

.switch:hover {
	background: #9a2859;
}

.switch_label {
  	margin: auto;
}

.invisible {
	display:none;
}


.full_width {
	width: 100%;
}

.block {
/*	border-radius: 5px;*/
/*  	position: relative;*/
}

.result {
  	position: absolute;
	padding: 20px;
	padding-bottom: 120px;
}

.window {
/*	margin: 0 0 120px 0;*/
	height: 100%;
	top: 0;
  	position: absolute;
	overflow: scroll;
}

.sentence {
/*	border: 20px solid #252530;*/
	position: relative; 
/*	overflow: hidden;*/
	height: auto;
/*	margin-bottom: 20px;*/
	display: block;
}

.aspect_box {
	width: 50px;
	height: 50px;
	background: #353440;
	border: 5px solid #252530;
	border-radius: 10px;
	text-align: center;
	top: 0;
}

.aspect {
	height: 100%;
    position: relative;
	font-size: 12px;
}

.aspect a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.words {
	width: auto;
	border: 5px solid #252530;
	margin-left: 50px;
	position: relative;
	background: #353440;
	border-radius: 10px;
	top: 0;
	overflow: hidden;
	margin-bottom: 10px;
}

.word {
	float: left;
	height: 60px;
	background: #FF4496;
	text-align: center;
	padding: 6px;
	height: auto;
	margin: 4px;
	font-weight: bold;
	font-size: 10px;
}

.word_panel {
	float: left;
	padding: 6px;
	top: 0;
	overflow: hidden;
}

.vert_center_box {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.button {
    border: none;
/*    color: #262530;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
/*	font-weight: bold;*/
  	position: relative;
}

.button_control {
    border-radius: 8px;
	width: 90px;
	height: 28px;
	padding: 0;
	text-align: center;
    font-size: 14px;
	background: rgba(0,0,0,0.10);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.button_control:hover {
	background: rgba(0,0,0,0.20);
}

.button_start {
    background-color: transparent;
	border: 1px solid #51E2C2;
	color: #51E2C2;
}

.button_stop {
    background-color: transparent;
	border: 1px solid #FF4496;
	color: #FF4496;
}

.square {
	width: 10px;
	height: 10px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
/*	border: 1px solid #FF4496;*/
	background: #FF4496;
 }

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 8px solid #51E2C2;
}

.line {
	height: 16px;
	width: 2px;
/*	border: 0.5px solid #51E2C2;*/
	background: #51E2C2;
 }

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.layer {
    background: white;
    stroke: #777777;
    height: 40px;
    padding: 30px;
}

.layer_expand {
    background: white;
    stroke: #777777;
    min-height: 200px;
    padding: 30px;
}

#layer_panel {
    width: 480px;
    float: left;
}

#layer_addition_panel {
    width: 500px;
    text-align: center;
    margin: auto;
}

#add_layer_button {
    width: 20px;
    float: left;
}

.layer_content {
    width: 100%;
    height: 100%;
    background: #223344;
    text-align: left;
}

.dropbtn {
    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.bottom {
}

.conf_input {
    width: 500px;
    height: 200px;
	max-width: 80%;
}

/* Style the lines by removing the fill and applying a stroke */
.linechart_center {
	position: absolute;
/*	top: 50%;*/
	left: 50%;
	transform: translateX(-50%);
}

.linechart {
	position: absolute;
	left: 50%;
	top: 150px;
	transform: translateX(-50%);
}

.line {
    stroke-width: 1;
    fill: none !important;
}

.area {
    stroke: none !important;
}

.chart1 {
    stroke: #ffab00;
    fill: rgba(255, 166, 0, 0.30);

}

.chart2 {
    stroke: #ff2d3c;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.axis {
	color: #DDD;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:before, :after {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
}

p {
	line-height: 1.8;
}